<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
 <head>
 	<th:block th:fragment="head(title)">
	     <meta charset="UTF-8">
	     <meta name="viewport" content="width=device-width, initial-scale=1">
	     <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
 	</th:block>
 </head>
 
 <div th:fragment="navbar" class="row my4-4">
 	<div class="col-12">
 		 <ul class="nav nav-tabs">
 		 	<div class="container d-flex">
			 	<li class="nav-item" >
			 		<a class="nav-link" th:href="@{/pizze}">Elenco Pizze</a>
			 	</li>
			 	<li class="nav-item" >
			 		<a class="nav-link" th:href="@{/pizze/create}">Crea pizza</a>
			 	</li>
			</div>
		 </ul>
 	</div>
 </div>

 <div th:fragment="search" class="row my-4">
	<div class="col-6">
		<form action="">
		<label for="fname">Cerca la tua pizza:</label>
		<input type="text" name="pizza">  
		<input type="submit" value="Cerca">
		</form>
	</div>
 </div>
 
 <body>
 

 </body>
 </html>