<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
 <head>
 <meta charset="UTF-8">
 <title>pizze</title>
 </head>
 <body>
 <div class="container">
 	<h1>Elenco Pizze</h1>
 	<div class="row">
 		<div class="col">
 			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">Nome</th>
			      <th scope="col">Descrizione</th>
			      <th scope="col">Foto</th>
			      <th scope="col">Prezzo</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="pizza : ${result}">
			      <td th:text="${pizza.getName()}"></td>
			      <td th:text="${pizza.getDescription()}"></td>
			      <td><img th:src="${pizza.getImgUrl}"></img></td>
			      <td th:text="${pizza.getPrice}"></td>
			      <td><button><a th:href="@{/pizza/{id}(id=${pizza.getId()})}">Visualizza</a></button></td>
			    </tr>
			  </tbody>
			</table>
 		</div>
 	</div>
 </div>

 </body>
 </html>